* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('images/milk.jpg');
  background-size: cover;
  margin: 0;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #1560BD;
  padding: 8px 16px;
  z-index: 1;
}

.main-header>div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #ffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  height: 18px;
  /* width: 20px; */
  display: inline-block;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 190px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  text-decoration: none;
  color: #ffff;
  font-weight: bold;
  padding: 3px 0;
}

.main-nav__item a:hover, .main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.login-container {
  width: 95%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginsection {
  position: absolute;
  height: 300px;
  text-align: center;
  border: 1px solid whitesmoke;
  box-shadow: 10px 10px 8px #888888;
  z-index: 10;
}

#loginsection span {
  font-weight: bold;
}

#product-overview h1 {
  color: #1560BD;
}

input, select {
  margin: 10px 10px;
  padding: 5px 5px;
  width: 90%;
  border: 2px solid black;
}

input[type=radio] {
  margin: 10px 10px;
  padding: 5px 5px;
  width: 10%;
  display: inline-block;
  border: 2px solid black;
}

input:focus {
  border: 2px solid #1560BD;
}

.login_button {
  font-weight: bold;
  color: white;
  width: 100px;
  height: 40px;
  background-color: #1560BD;
  border-radius: 5px 5px 5px 5px;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: #ffff;
  display: block;
  margin: 0.6rem 0;
}

.main-nav {
  display: none;
}

@media (min-width: 40rem) {
  #loginsection {
    width: 30%;
  }
  .toggle-button {
    display: none;
  }
  .main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 177px);
    vertical-align: middle;
  }
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__item {
  margin: 1rem 0;
  color: #1560BD;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.open {
  display: block !important;
}

.bodyContainer {
  width: 97%;
  height: fit-content;
  position: relative;
  display: inline-block;
  right: 20px;
  left: 20px;
  text-align: center;
  font-size: 1.5rem;
}

.displayBox {
  margin: 10px auto;
  width: 100%;
  position: relative;
  /* border: 3px solid black; */
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.valueDisplay {
  margin: 10px auto;
  width: fit-content;
  padding: 1em;
  position: relative;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  background: rgb(241, 239, 239);
  box-shadow: 0 0 5px 5px rgb(231, 229, 229);
}

.graphDisplay {
  margin: 10px auto;
  width: 80vw;
  position: relative;
  /* height: 40vh; */
  border-radius: 10px;
  background: rgb(241, 239, 239);
  box-shadow: 0 0 5px 5px rgb(231, 229, 229);
}

.graphDisplay canvas {
  width: 90vw;
  position: relative;
}

ul>li {
  list-style: none;
  text-align: center;
  text-indent: 0%;
}

#databutton{
  margin: 10px 40%;
  align-self: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  flex-grow: 1;
}

.container>button{
  display: block;
  align-self: center;
  margin: 10px auto;
}

.inner-container{
  font-size: 1.75rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-shadow: 2px 2px 0 #000;
}

body>button{
  padding: .5em 1.5em;
  font-size: 1rem;
  border-radius: 10px;
  background-color: floralwhite;
}

.container>h4{
  line-height: .1em;
  margin: 10px auto;
}